.aside .container {
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
}
.aside-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.aside-subtitle {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
}
.aside-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  margin-bottom: 16px;
}
.aside {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: #f5f4fa;
}
.section {
  margin-left: auto;
  margin-right: auto;
}
.aside-list {
  display: flex;
  justify-content: center;
}
.aside-item {
  width: 270px;
  text-align: center;
  margin-right: 30px;
  background-color: var(--local-color);
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  box-shadow: 0px 2px 1px 0 rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
.aside-item:nth-last-child(-n + 1) {
  margin-right: 0;
}
.container .last {
  width: 270px;
  padding-top: 30px;
  padding-bottom: 30px;
}
.aside-link {
  display: flex;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  background-color: var(--local-color);
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.aside-icon {
  width: 20px;
  height: 20px;
}
.icon-list {
  display: flex;
  justify-content: center;
}
.icon-item {
  width: 44px;
  height: 44px;
  margin-right: 10px;
}
.icon-item:last-child {
  margin-right: 0px;
}
.aside-link:hover,
.aside-link:focus {
  background-color: var(--second-header-color);
  fill: var(--local-color);
}
